
.container{
    width: 100%;
}

  .header-text {
      position: absolute;
      top: 25%;
      left: 1.8%;
      right: auto;
      width: 100%;
      color: #254441;
  }
  .item{height: 100%;}


   #toptwo img{
height: 100%;
  }
 #topthree  img{
    height: 100%;
      }
      #topone   img{
        height: 100%;
          }
  .item img{
      height: 100%;
  }
  
  .header-text h2 {
      font-size: 40px;
  }
  
  .header-text h2 span {
      padding: 10px;
  }
  
  .header-text h3 span {
      padding: 15px;
  }
  