#modal-form .modal-title{
	
	text-align:left ;
	font-size:16px;
	font-weight:600;
	display:inline-block;
	color:deepskyblue;
	font-size:20px;
	font-weight:bold;
}

#modal-form .modal-content
{
	display:flex;
	align-items:center;
	flex-direction:column;
	justify-content:center;
	background:white;
	max-width:450px;
	position:relative;
	padding:0px;
	box-shadow:0px 30px 60px 0 rgba(0,0,0,0.3);
	text-align:center;
}

#modal-form input[type=button],input[type=submit]
{
	background-color:deepskyblue;
	border:none;
	color:white;
	padding:15px 80px;
	text-align:center;
	text-decoration:none;
	display:inline-block;
	text-transform:uppercase;
	font-size:13px;
	box-shadow:0 10px 30px 0 rgba(95,186,233,0.4);
	border-radius:5px 5px 5px 5px;
	margin:5px 20px 40px 20px;
	transition: all 0.5s ease-in-out;
	
	
}
#modal-form input[type=text],input[type=number],input[type=email]
{
	background-color:#f6f6f6;
	border:none;
	color:#0d0d0d;
	padding:15px 32px;
	text-align:left;
	text-decoration:none;
	display: inline-block;
	font-size:16px;
	margin:5px;
	border:2px solid white;
	transition: all 0.5s ease-in-out;
	border-radius:5px 5px 5px 5px;
	width:75% !important;
	height: 60px !important;
	color:#999999 !important;
}

#modal-form input[type=text]:focus
{
	background-color:white;
	border-bottom:2px solid deepskyblue;
	
}
#modal-form input[type=text]:placehold
{
	color:#cccccc;
	
}
#modal-form *:focus
{
	outline:none;
}

#modal-form .form-control
{
	
	background-color:#f6f6f6;
	border:none;
	
	height:10%;
	
	text-align:center;
	text-decoration:none;
	display: inline-block;
	font-size:16px;
	margin:5px;
	width:68%;
	border:2px solid white;
	transition: all 0.5s ease-in-out;
	border-radius:5px 5px 5px 5px;
}
#modal-form .formstl
{
	float:right;
}
#modal-form select, select option {
  color: #000000;
  width: 75%  !important;
  height: 60px !important;
}

#modal-form select,select option[value=""] {
  color: #999999;
}
#modal-form select:invalid, select option[value="1"] {
  color: #999999;
}
